.page-content {
  margin-top: 1em;
}

.navbar {
  padding: 0px;
}

.icon-button {
  float: right;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.icon-button > svg {
  margin-right: 10px;
}

.table > tbody > tr > td {
  vertical-align: middle;
}